{% extends "layout.html" %}

{% block title %} Welcome {% endblock %}

{% block main %}
<link href="https://getbootstrap.com/docs/5.3/examples/cover/cover.css" rel="stylesheet">
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

<div class="d-flex flex-column justify-content-center align-items-center text-center text-bg-dark" style="min-height: 100vh; position: relative; overflow: hidden;">
    <div class="blur-background"></div>
    <div class="overlay"></div>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="position: relative; z-index: 2;">
        <main class="px-3">
            <h1>Your dynamic shopping list</h1>
            <p class="lead">Create a shopping list, add the items you need!</p>
            <p class="lead">
                <a href="/about" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
            </p>
        </main>
        <footer class="mt-auto text-white-50">
            <p>Final project for <a href="https://pll.harvard.edu/course/cs50-introduction-computer-science" class="text-white" target="_blank">CS50</a>, by Lorant Marton <a href="https://github.com/martonlori" class="text-white" target="_blank">(@martonlori)</a>.</p>
        </footer>
    </div>
</div>
{% endblock %}



