{% extends "layout.html" %}

{% block title %} Register {% endblock %}

{% block main %}

<main class="d-flex justify-content-center align-items-start" style="height: 100vh; padding-bottom: 800px;">
    <div class="text-center">
        <div class="mb-3" style="padding-bottom: 30px;">
            <h2>Please register an account.</h2>
            <img src="https://i.pinimg.com/originals/31/e6/2e/31e62e6b0ecc175ecfd50f28d1033abb.gif" style="height: 120px; width: 170px;">
        </div>
        <div class="text-start">
        <form  action="/register" method="POST" class="m-auto" style="width: fit-content;padding: 40px; border: 4px solid lightblue; border-radius: 15px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);">
            <div class="mb-3">
                <label for="username_input_register" class="form-label"> Username</label>
                <input type="text" name="username_register" id="username_input_register" class="form-control"  autofocus="off" autocomplete required>
            </div>
            <div class="mb-3">
                <label for="password_input_register" class="form-label"> Password </label>
                <input type="password" name="password_register" class="form-control" id="password_input_register" autofocus="off" autocomplete="off" required>
            </div>
            <div class="mb-3">
                <label for="passwordcheck" class="form-label"> Confirm your password</label>
                <input type="password" autocomplete="off" autofocus="off" name="passwordcheck" class="form-control" required>
            </div>
            <div>
                <button type="submit" class="btn btn-primary"> Register </button>
            </div>
        </form>
        </div>
    </div>
</main>

{% endblock %}