{% extends "layout.html" %}

{% block title %} Register {% endblock %}

{% block main %}

<main class="d-flex justify-content-center align-items-start" style="height: 100vh; padding-bottom: 300px;">
    <form  action="/register" method="POST" class="m-auto" style="width: fit-content;">
        <div class="mb-3">
            <label for="username_input" class="form-label"> Username</label>
            <input type="text" name="username" id="username_input" class="form-control"  autofocus="off" autocomplete>
        </div>
        <div class="mb-3">
            <label for="password_input" class="form-label"> Password </label>
            <input type="password" name="password" class="form-control" id="password_input" autofocus="off" autocomplete="off">
        </div>
        <div class="mb-3">
            <label for="passwordcheck" class="form-label"> Confirm your password</label>
            <input type="password" autocomplete="off" autofocus="off" name="passwordcheck" class="form-control">
        </div>
        <div>
            <button type="submit" class="btn btn-primary"> Register </button>
        </div>
    </form>
</main>

{% endblock %}