* {
    box-shadow: none !important;
  }

main {
    margin-top: -99px; /* Adjust this value */
  }

.alert {
    text-shadow: none !important;
}

.giphy-embed {
    width: 30px;
    height: auto;
    position: absolute; 
    top: 10px; 
    left: 10px; 
}
.blur-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/static/background1.jpeg');
    background-size: cover;
    filter: blur(4px); /* Adjust the blur amount as needed */
    z-index: 0; /* Behind the text */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35); /* Fekete háttér 50% átlátszósággal */
    z-index: 1; /* A blur háttér fölött, de a szöveg alatt */
}

#alert-container {
    z-index: 3;
    position: relative;
}
  
.blur-about-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/static/aboutbg1.png');
    background-size: cover;
    filter: blur(4px); /* Adjust the blur amount as needed */
    z-index: 0;
}